In [2]:
import numpy as np
import pandas as pd

Wild Fire Incidents Dataset

In [4]:
wild_fire_data = pd.read_csv("/content/California_Fire_Incidents.csv")

In [5]:
wild_fire_data.head(5)

,AcresBurned,Active,AdminUnit,AirTankers,ArchiveYear,CalFireIncident,CanonicalUrl,ConditionStatement,ControlStatement,Counties,...,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,NaN,2013,True,/incidents/2013/8/17/rim-fire/,NaN,NaN,Tuolumne,...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,NaN,2013,True,/incidents/2013/5/30/powerhouse-fire/,NaN,NaN,Los Angeles,...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,NaN,2013,True,/incidents/2013/7/15/mountain-fire/,NaN,NaN,Riverside,...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN
3,27440.0,False,Tahoe National Forest,NaN,2013,False,/incidents/2013/8/10/american-fire/,NaN,NaN,Placer,...,"American Fire, August 2013, Deadwood Ridge, Fo...",2013-08-10T16:30:00Z,Finalized,NaN,NaN,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625,2013-08-30T08:00:00Z,NaN
4,24251.0,False,Ventura County Fire/CAL FIRE,NaN,2013,True,/incidents/2013/5/2/springs-fire/,Acreage has been reduced based upon more accur...,NaN,Ventura,...,"Springs Fire, May 2013, Highway 101, Camarillo...",2013-05-02T07:01:00Z,Finalized,6.0,10.0,NaN,NaN,46731fb8-3350-4920-bdf7-910ac0eb715c,2013-05-11T06:30:00Z,11.0

In [6]:
wild_fire_data.describe()

,AcresBurned,AirTankers,ArchiveYear,CrewsInvolved,Dozers,Engines,Fatalities,Helicopters,Injuries,Latitude,Longitude,PercentContained,PersonnelInvolved,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,WaterTenders
count,1633.000000,28.000000,1636.000000,171.000000,123.000000,191.000000,21.000000,84.000000,120.000000,1636.000000,1636.000000,1633.0,204.000000,67.000000,175.000000,0.0,30.000000,146.000000
mean,4589.443968,4.071429,2016.608802,11.561404,7.585366,23.565445,8.619048,5.357143,3.500000,37.203975,-108.082642,100.0,328.553922,67.970149,271.788571,NaN,522.800000,7.815068
std,27266.337722,6.399818,1.845340,14.455633,14.028616,41.004424,18.529642,7.265437,3.806231,135.401380,37.006927,0.0,521.138789,155.771975,1557.255963,NaN,739.586856,12.719251
min,0.000000,0.000000,2013.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-120.258000,-124.196290,100.0,0.000000,0.000000,0.000000,NaN,0.000000,1.000000
25%,35.000000,2.000000,2015.000000,2.500000,1.000000,5.000000,1.000000,1.000000,1.000000,34.165891,-121.768358,100.0,55.000000,1.000000,1.000000,NaN,0.000000,2.000000
50%,100.000000,2.000000,2017.000000,6.000000,2.000000,11.000000,3.000000,2.000000,3.000000,37.104065,-120.461560,100.0,151.500000,6.000000,7.000000,NaN,45.000000,4.000000
75%,422.000000,4.000000,2018.000000,13.500000,5.000000,24.000000,6.000000,5.000000,4.000000,39.086808,-117.474073,100.0,350.000000,49.500000,41.500000,NaN,1043.750000,6.000000
max,410203.000000,27.000000,2019.000000,82.000000,76.000000,256.000000,85.000000,29.000000,26.000000,5487.000000,118.908200,100.0,3100.000000,783.000000,18804.000000,NaN,2600.000000,79.000000

In [8]:
wild_fire_data.isna().sum()

AcresBurned                3
Active                     0
AdminUnit                  0
AirTankers              1608
ArchiveYear                0
CalFireIncident            0
CanonicalUrl               0
ConditionStatement      1352
ControlStatement        1531
Counties                   0
CountyIds                  0
CrewsInvolved           1465
Dozers                  1513
Engines                 1445
Extinguished              59
Fatalities              1615
Featured                   0
Final                      0
FuelType                1624
Helicopters             1552
Injuries                1516
Latitude                   0
Location                   0
Longitude                  0
MajorIncident              0
Name                       0
PercentContained           3
PersonnelInvolved       1432
Public                     0
SearchDescription         17
SearchKeywords           203
Started                    0
Status                     0
StructuresDamaged       1569
StructuresDestroyed     1461
StructuresEvacuated     1636
StructuresThreatened    1606
UniqueId                   0
Updated                    0
WaterTenders            1490
dtype: int64

In [26]:
wild_fire_data["Counties"].unique()

array(['Tuolumne', 'Los Angeles', 'Riverside', 'Placer', 'Ventura',
       'Fresno', 'Siskiyou', 'Humboldt', 'Tehama', 'Shasta', 'San Diego',
       'Kern', 'Sonoma', 'Contra Costa', 'Butte', 'Tulare',
       'Santa Barbara', 'Mariposa', 'Monterey', 'El Dorado',
       'San Bernardino', 'Plumas', 'Modoc', 'San Luis Obispo', 'Madera',
       'Inyo', 'Napa', 'San Benito', 'San Joaquin', 'Lake', 'Alameda',
       'Glenn', 'Yolo', 'Sacramento', 'Stanislaus', 'Solano', 'Merced',
       'Mendocino', 'Lassen', 'Amador', 'Yuba', 'Nevada', 'Santa Clara',
       'Calaveras', 'San Mateo', 'Orange', 'Colusa', 'Trinity',
       'Del Norte', 'Mono', 'Alpine', 'Sutter', 'Kings', 'Sierra',
       'Santa Cruz', 'Marin', 'Mexico', 'State of Oregon',
       'State of Nevada'], dtype=object)

In [12]:
wild_fire_data.iloc[200]

AcresBurned                                                         612.0
Active                                                              False
AdminUnit                            CAL FIRE Madera-Mariposa-Merced Unit
AirTankers                                                            NaN
ArchiveYear                                                          2014
CalFireIncident                                                      True
CanonicalUrl                          /incidents/2014/8/18/junction-fire/
ConditionStatement      Fire suppression repair to continue until 8/25...
ControlStatement                                                      NaN
Counties                                                           Madera
CountyIds                                                              20
CrewsInvolved                                                         6.0
Dozers                                                                2.0
Engines                                                               7.0
Extinguished                                         2014-08-25T08:25:00Z
Fatalities                                                            NaN
Featured                                                            False
Final                                                                True
FuelType                                                              NaN
Helicopters                                                           NaN
Injuries                                                              3.0
Latitude                                                          37.3433
Location                off Road 425A, near the Hwy 41 and Hwy 49 junc...
Longitude                                                       -119.6581
MajorIncident                                                        True
Name                                                        Junction Fire
PercentContained                                                    100.0
PersonnelInvolved                                                   188.0
Public                                                               True
SearchDescription       The Junction Fire started August 18, 2014 and ...
SearchKeywords          425A, Hwy 41, highway 41, hwy 49, highway 49, ...
Started                                              2014-08-18T13:50:00Z
Status                                                          Finalized
StructuresDamaged                                                     NaN
StructuresDestroyed                                                  47.0
StructuresEvacuated                                                   NaN
StructuresThreatened                                                  NaN
UniqueId                             58e7e466-8807-404e-9ef6-5a6ae11a0084
Updated                                              2014-08-25T08:25:00Z
WaterTenders                                                          3.0
Name: 200, dtype: object

Wild Fire Damage

In [13]:
damage = pd.read_csv("/content/California Wildfire Damage.csv")

In [63]:
damage.head(40)

,Incident_ID,Date,Location,Area_Burned (Acres),Homes_Destroyed,Businesses_Destroyed,Vehicles_Damaged,Injuries,Fatalities,Estimated_Financial_Loss (Million $),Cause
0,INC1000,2020-11-22,Sonoma County,14048,763,474,235,70,19,2270.57,Lightning
1,INC1001,2021-09-23,Sonoma County,33667,1633,4,263,100,2,1381.14,Lightning
2,INC1002,2022-02-10,Shasta County,26394,915,291,31,50,6,2421.96,Human Activity
3,INC1003,2021-05-17,Sonoma County,20004,1220,128,34,28,0,3964.16,Unknown
4,INC1004,2021-09-22,Sonoma County,40320,794,469,147,0,15,1800.09,Unknown
5,INC1005,2023-05-17,Butte County,48348,60,205,21,58,2,4458.29,Human Activity
6,INC1006,2018-04-29,San Diego County,16038,1404,137,64,13,11,713.80,Human Activity
7,INC1007,2015-08-23,Napa Valley,24519,121,28,125,0,5,2001.33,Lightning
8,INC1008,2023-12-08,Sonoma County,20418,299,264,208,33,4,1012.23,Unknown
9,INC1009,2018-12-01,Butte County,21351,275,196,153,41,2,2611.90,Lightning
10,INC1010,2018-10-30,Riverside County,34157,623,41,143,58,17,2529.70,Human Activity
11,INC1011,2021-09-30,Santa Barbara County,20800,1739,183,78,12,18,1630.38,Human Activity
12,INC1012,2020-02-08,Sonoma County,9544,382,244,24,32,19,98.69,Unknown
13,INC1013,2016-06-27,San Diego County,14737,505,434,247,16,8,801.44,Human Activity
14,INC1014,2016-03-22,Napa Valley,17421,1161,319,300,97,16,1488.80,Unknown
15,INC1015,2022-06-08,Los Angeles County,3668,142,493,32,26,19,3576.23,Lightning
16,INC1016,2018-02-22,Riverside County,13416,1766,441,223,13,2,927.62,Lightning
17,INC1017,2014-04-16,Sonoma County,25094,1014,288,269,30,12,268.91,Human Activity
18,INC1018,2021-08-11,Mendocino County,35889,1212,483,19,39,14,603.55,Human Activity
19,INC1019,2022-09-25,Orange County,44974,270,83,50,82,7,268.08,Human Activity
20,INC1020,2019-09-05,Napa Valley,36784,461,215,195,33,9,1691.28,Human Activity
21,INC1021,2015-03-20,Mendocino County,45742,1812,37,45,100,6,2745.19,Lightning
22,INC1022,2022-09-30,San Diego County,16346,429,279,228,88,12,4063.06,Human Activity
23,INC1023,2020-07-20,Riverside County,13531,1066,239,156,15,2,1518.79,Lightning
24,INC1024,2019-02-16,Butte County,33242,1760,118,240,44,13,4866.99,Unknown
25,INC1025,2016-12-14,Shasta County,30226,477,427,131,42,17,3512.91,Unknown
26,INC1026,2019-11-19,Shasta County,14713,465,56,163,59,10,1840.53,Human Activity
27,INC1027,2023-08-01,Riverside County,44280,1296,158,173,32,4,2952.17,Human Activity
28,INC1028,2014-06-03,Butte County,17860,1819,391,45,20,15,1975.26,Unknown
29,INC1029,2015-10-18,San Diego County,39768,65,75,211,7,14,1745.67,Lightning
30,INC1030,2022-07-22,Los Angeles County,34463,1966,339,172,53,11,644.92,Lightning
31,INC1031,2019-06-24,Shasta County,10138,1285,78,148,17,14,723.16,Human Activity
32,INC1032,2017-03-19,San Diego County,357,887,181,89,3,9,650.72,Lightning
33,INC1033,2018-10-06,Sonoma County,16772,1736,371,122,16,4,1385.77,Unknown
34,INC1034,2015-02-20,Riverside County,49008,665,399,238,37,3,1554.65,Lightning
35,INC1035,2023-10-27,Shasta County,39532,1021,359,120,7,16,3654.42,Lightning
36,INC1036,2015-09-05,San Diego County,26894,1045,362,200,12,2,979.66,Lightning
37,INC1037,2014-11-10,Shasta County,21502,1763,452,218,7,3,1653.22,Lightning
38,INC1038,2014-03-16,Mendocino County,41647,484,210,180,7,16,286.64,Lightning
39,INC1039,2018-12-29,Santa Barbara County,47883,1097,444,84,64,17,4193.45,Lightning

In [15]:
len(damage)

100

In [16]:
damage.isna().sum()

Incident_ID                             0
Date                                    0
Location                                0
Area_Burned (Acres)                     0
Homes_Destroyed                         0
Businesses_Destroyed                    0
Vehicles_Damaged                        0
Injuries                                0
Fatalities                              0
Estimated_Financial_Loss (Million $)    0
Cause                                   0
dtype: int64

In [58]:
sorted(damage['Date'])

['2014-02-03',
 '2014-03-04',
 '2014-03-16',
 '2014-03-28',
 '2014-04-16',
 '2014-04-24',
 '2014-05-13',
 '2014-05-16',
 '2014-06-03',
 '2014-06-24',
 '2014-09-08',
 '2014-11-10',
 '2014-11-16',
 '2015-02-20',
 '2015-03-20',
 '2015-05-22',
 '2015-07-08',
 '2015-08-04',
 '2015-08-23',
 '2015-09-05',
 '2015-10-18',
 '2015-12-08',
 '2016-02-14',
 '2016-03-22',
 '2016-04-10',
 '2016-05-15',
 '2016-05-18',
 '2016-06-27',
 '2016-06-30',
 '2016-07-26',
 '2016-12-14',
 '2017-03-19',
 '2017-06-13',
 '2017-07-05',
 '2017-08-18',
 '2017-10-29',
 '2018-01-16',
 '2018-02-22',
 '2018-04-29',
 '2018-08-12',
 '2018-10-06',
 '2018-10-06',
 '2018-10-10',
 '2018-10-15',
 '2018-10-30',
 '2018-11-22',
 '2018-12-01',
 '2018-12-29',
 '2019-02-16',
 '2019-03-30',
 '2019-04-05',
 '2019-06-24',
 '2019-09-05',
 '2019-09-13',
 '2019-10-04',
 '2019-11-19',
 '2020-02-08',
 '2020-03-04',
 '2020-05-12',
 '2020-05-12',
 '2020-06-23',
 '2020-07-20',
 '2020-09-28',
 '2020-11-22',
 '2021-01-09',
 '2021-01-13',
 '2021-03-20',
 '2021-04-06',
 '2021-05-17',
 '2021-05-25',
 '2021-08-11',
 '2021-08-27',
 '2021-09-22',
 '2021-09-23',
 '2021-09-30',
 '2021-10-24',
 '2021-12-15',
 '2022-01-23',
 '2022-02-10',
 '2022-06-08',
 '2022-06-25',
 '2022-07-07',
 '2022-07-22',
 '2022-08-22',
 '2022-09-25',
 '2022-09-30',
 '2022-10-10',
 '2022-10-10',
 '2022-10-20',
 '2023-02-08',
 '2023-02-24',
 '2023-05-17',
 '2023-05-30',
 '2023-06-18',
 '2023-08-01',
 '2023-08-22',
 '2023-08-23',
 '2023-10-27',
 '2023-11-14',
 '2023-12-08']

In [61]:
damage[damage['Date']=='2014-04-16']

,Incident_ID,Date,Location,Area_Burned (Acres),Homes_Destroyed,Businesses_Destroyed,Vehicles_Damaged,Injuries,Fatalities,Estimated_Financial_Loss (Million $),Cause
17,INC1017,2014-04-16,Sonoma County,25094,1014,288,269,30,12,268.91,Human Activity

In [45]:
price = pd.read_csv("/content/MedianPricesofExistingDetachedHomesHistoricalData(Median Price).csv", skiprows=7)

In [46]:
good = []
for i in price.columns:
  if 'Unnamed' not in i:
    good.append(i)

In [47]:
price = price[good].copy()

In [48]:
price

,Mon-Yr,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Yolo,Yuba,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,S.F. Bay Area,SoCal
0,Jan-90,"$194,952","$226,149",NaN,"$102,143",NaN,NaN,NaN,NaN,"$82,083",...,NaN,NaN,"$141,519","$203,390",NaN,NaN,NaN,NaN,"$227,366",NaN
1,Feb-90,"$196,273","$219,306",NaN,"$83,333",NaN,NaN,NaN,NaN,"$87,187",...,NaN,NaN,"$144,965","$211,024",NaN,NaN,NaN,NaN,"$234,739",NaN
2,Mar-90,"$194,856","$225,162",NaN,"$100,000",NaN,NaN,NaN,NaN,"$83,889",...,NaN,NaN,"$141,132","$209,286",NaN,NaN,NaN,NaN,"$235,337",NaN
3,Apr-90,"$196,111","$229,333",NaN,"$108,000",NaN,NaN,NaN,NaN,"$85,428",...,NaN,NaN,"$145,707","$210,302",NaN,NaN,NaN,NaN,"$233,178",NaN
4,May-90,"$195,281","$232,291",NaN,"$100,000",NaN,NaN,NaN,NaN,"$88,749",...,NaN,NaN,"$146,060","$210,148",NaN,NaN,NaN,NaN,"$235,881",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,Nov-24,"$852,880","$1,285,000","$420,000","$438,950","$436,250","$897,500","$319,610","$653,120","$440,000",...,"$573,000","$430,000","$675,000","$822,000","$1,030,000","$495,000","$375,000","$600,000","$1,316,500","$850,000"
419,Dec-24,"$861,020","$1,180,000","$445,000","$426,500","$510,000","$875,000","$384,950","$723,000","$420,570",...,"$610,000","$441,000","$664,560","$815,500","$995,000","$492,000","$369,500","$594,950","$1,200,000","$850,000"
420,Jan-25,"$838,850","$1,150,000","$437,000","$443,000","$449,500","$785,000","$385,500","$615,000","$426,690",...,"$600,000","$441,000","$649,000","$820,000","$1,060,000","$480,000","$400,000","$600,000","$1,125,000","$850,500"
421,Feb-25,"$829,060","$1,300,000","$460,000","$449,000","$415,000","$841,000","$352,000","$677,000","$442,850",...,"$633,500","$459,000","$675,000","$824,880","$1,039,500","$495,000","$386,000","$611,290","$1,250,000","$866,360"
422,Mar-25,"$884,350","$1,380,000","$440,000","$444,000","$430,000","$907,000","$185,000","$722,500","$435,000",...,"$615,000","$448,800","$680,630","$834,830","$1,107,500","$495,000","$385,000","$609,230","$1,400,000","$877,750"

In [49]:
price.columns

Index(['Mon-Yr', 'CA', 'Alameda', 'Amador', 'Butte', 'Calaveras',
       'Contra-Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn', 'Humboldt',
       'Imperial', 'Kern', 'Kings', 'Lake', 'Lassen', 'Los Angeles', 'Madera',
       'Marin', 'Mariposa', 'Mendocino', 'Merced', 'Mono', 'Monterey', 'Napa',
       'Nevada', 'Orange', 'Placer', 'Plumas', 'Riverside', 'Sacramento',
       'San Benito', 'San Bernardino', 'San Diego', 'San Francisco',
       'San Joaquin', 'San Luis Obispo', 'San Mateo', 'Santa Barbara',
       'Santa Clara', 'Santa Cruz', 'Shasta', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba', 'Condo', 'LA Metro', 'Central Coast',
       'Central Valley', 'Far North', 'Inland Empire', 'S.F. Bay Area',
       'SoCal'],
      dtype='object')

In [50]:
wild_fire_data["Counties"].unique()

array(['Tuolumne', 'Los Angeles', 'Riverside', 'Placer', 'Ventura',
       'Fresno', 'Siskiyou', 'Humboldt', 'Tehama', 'Shasta', 'San Diego',
       'Kern', 'Sonoma', 'Contra Costa', 'Butte', 'Tulare',
       'Santa Barbara', 'Mariposa', 'Monterey', 'El Dorado',
       'San Bernardino', 'Plumas', 'Modoc', 'San Luis Obispo', 'Madera',
       'Inyo', 'Napa', 'San Benito', 'San Joaquin', 'Lake', 'Alameda',
       'Glenn', 'Yolo', 'Sacramento', 'Stanislaus', 'Solano', 'Merced',
       'Mendocino', 'Lassen', 'Amador', 'Yuba', 'Nevada', 'Santa Clara',
       'Calaveras', 'San Mateo', 'Orange', 'Colusa', 'Trinity',
       'Del Norte', 'Mono', 'Alpine', 'Sutter', 'Kings', 'Sierra',
       'Santa Cruz', 'Marin', 'Mexico', 'State of Oregon',
       'State of Nevada'], dtype=object)

In [53]:
set(wild_fire_data["Counties"].unique()).intersection(set(price.columns))

{'Alameda',
 'Amador',
 'Butte',
 'Calaveras',
 'Del Norte',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba'}

In [54]:
price.to_csv('Housing Price.csv', index=False)